/*COMMON*/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: Avenir Next Regular;
  font-size: 15px;
  box-sizing: border-box;
}
header,
section,
main,
aside,
div,
nav,
ul,
li,
p,
img,
h1,
h2,
h3,
h4,
h5 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  width: 1110px;
  margin: 0 auto;
}
/*MODULES AND VARIABLES*/
/*FONTS*/
/*COLORS*/
/*WIDTH AND OVER*/
@font-face {
  font-family: Avenir Next Regular;
  src: url(../fonts/AvenirNextCyr-Regular.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Avenir Next Medium;
  src: url(../fonts/AvenirNextCyr-Medium.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Avenir Next Bold;
  src: url(../fonts/AvenirNextCyr-Bold.ttf);
  font-weight: 900;
}
.dfl {
  display: flex;
}
.dbl {
  display: block;
}
.jcc {
  justify-content: center;
}
.jcb {
  justify-content: space-between;
}
.text-center {
  text-align: center;
}
.btn {
  color: white;
  font-size: 0.75rem;
  padding: 0.4rem 0 0.4rem 0;
  border: none;
  cursor: url(../images/cursor.png), pointer;
  transition: all 0.3s linear;
}
.btn--select {
  width: 95px;
  border-radius: 20px;
  background: #1168B6;
}
.btn--select:hover {
  background: #158CF5;
}
.btn--info {
  padding: 0.4rem 1.2rem 0.4rem 1.2rem;
  background: #FB513D;
  border-radius: 6px;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
}
.btn--more {
  background: #FB513D;
  width: 160px;
  border-radius: 6px;
}
.btn--more:hover {
  box-shadow: 0px 4px 20px rgba(251, 81, 61, 0.8);
}
.text-input {
  width: 230px;
  padding: 14px 18px 14px 0;
  background-color: white;
  font-size: 1.1rem;
  transition: border 0.3s libear;
}
.text-input:hover {
  border: 2px solid #FF1F1F;
  color: rgba(51, 51, 51, 0.6);
}
.icon {
  display: block;
  background: url(../images/icons.png) no-repeat;
}
.block-title {
  font-family: Avenir Next Bold;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  color: #333333;
}
.more-link {
  font-family: Avenir Next Bold;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #1168B6;
  transition: color 0.3s linear;
}
.more-link:hover {
  color: #158CF5;
}
.linear-gradiend {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.5;
  border-radius: 6px;
}
.main__header {
  height: 100%;
}
.top__header,
.medium__header,
.header__nav {
  position: relative;
  z-index: 1;
}
.medium__header {
  background-color: transparent;
}
.top__header {
  width: 100%;
  background: #1168B6;
  color: rgba(255, 255, 255, 0.6);
  font-family: Avenir Next Medium;
  font-size: 12px;
}
.top__header {
  padding: 6px 0 6px 0;
}
.h-info__phones_link {
  padding: 0 4px 0 4px;
}
.header__info_mail {
  margin-left: 2rem;
}
.h-info__mail_link {
  padding-right: 10px;
}
.header__info_social {
  margin-left: 20px;
}
.h-info__social_block {
  width: 16px;
  height: 16px;
  margin: 0 5px 0 5px;
}
.h-info__social_link {
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.6);
  background: url(../images/icons.png) no-repeat center center;
  display: block;
  height: 100%;
  border-radius: 50%;
  padding: 7px;
  box-sizing: border-box;
  transition: background 0.3s linear;
}
.h-info__social_link:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.h-info__social_link.vk {
  background-position: -130px -58px;
}
.h-info__social_link.inst {
  background-position: -150px -58px;
}
.h-info__social_link.ytb {
  background-position: -170px -59px;
}
.header__menu_item {
  margin-left: 16px;
}
.header__menu_item:first-child {
  margin-left: 0;
}
.medium__h-logo_title {
  padding: 20px 0 0 0;
  font-family: Avenir Next Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;
  color: white;
}
.medium__h-logo_subtitle {
  font-family: Avenir Next Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  padding-top: 8px;
  color: white;
}
.medium__header_sublogo {
  max-width: 11.8rem;
  font-family: Avenir Next Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  color: white;
  padding: 1.33rem 0 0 1.2rem;
}
.header__info_adress {
  max-width: 10.33rem;
  margin-top: 1.67rem;
  font-family: Avenir Next Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  color: white;
}
.header__info_backcall {
  margin: 1.67rem 0 0 3.7rem;
  color: white;
}
.header__info_contacts {
  margin: 1.67rem 0 0 2rem;
}
.info__contacts_phone {
  border: none;
  font-family: Avenir Next Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.04em;
  color: white;
  margin-bottom: 0.53rem;
  background: transparent;
}
.info__contacts_phone:focus,
.info__contacts_phone:active {
  outline: none;
}
.info__contacts_time {
  font-family: Avenir Next Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  opacity: 0.6;
  padding-left: 5px;
  color: white;
}
.header__nav_wrapper {
  background: #1168B6;
  border-radius: 5px;
  margin-top: 1.33rem;
}
.header__navigation_link {
  display: flex;
  padding: 1.3rem 0 1.13rem 2rem;
  font-family: Avenir Next Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: white;
}
.navigation__link_more {
  display: block;
  width: 15px;
  height: 15px;
  background: url(../images/icons.png) center center no-repeat;
  background-position: -71px -15px;
  margin-top: 0.2rem;
  margin-left: 0.7rem;
}
.header__nav_cab-item {
  width: 1.5rem;
  height: 1.5rem;
  margin: auto;
  margin-right: 2rem;
  cursor: pointer;
  background: url(../images/icons.png);
}
.header__nav_cab-item.nav_personal {
  background-position: -6px -10px;
}
.header__nav_cab-item.nav_search {
  background-position: -35px -10px;
}
.header__slider {
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 3.73rem;
}
.header__slider_item {
  width: 100%;
  position: relative;
}
.header__slide_link {
  display: block;
  width: 100%;
}
.header__slider_img {
  width: 100%;
  cursor: pointer;
}
.slide-dark {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  position: absolute;
  top: -4px;
  cursor: pointer;
}
.preferences {
  position: relative;
  z-index: 1;
  margin-bottom: 8.67rem;
}
.preferences__item {
  margin-right: 2rem;
}
.preferences__item:last-child {
  margin-right: 0;
}
.preferences__ico_img {
  width: auto;
  height: 73px;
}
.preferences__item_hd {
  font-family: Avenir Next Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #333333;
  margin: 1.33rem 0 0.67rem 0;
}
.preferences__item_p {
  font-family: Avenir Next Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}
.content__left_block {
  margin-bottom: 6.67rem;
}
.content__left {
  width: 52rem;
}
.content__left_tours {
  flex-wrap: wrap;
}
.content__l-tours_item {
  position: relative;
  margin: 0 1.4rem 1.5rem 0;
}
.content__l-tours_item:nth-child(even) {
  margin-right: 0;
}
.content__left_title {
  margin-bottom: 0.9rem;
}
.content__left_more {
  margin: auto;
  margin-right: 0;
}
.content__left_description {
  max-width: 42.3rem;
  margin-bottom: 2.67rem;
}
.left__description_text {
  font-family: Avenir Next Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}
.l-tours__item_image {
  border-radius: 6px;
  position: relative;
}
.l-tours__image_img {
  display: block;
  border-radius: 6px;
}
.l-tours__item_description {
  position: absolute;
  z-index: 1;
  bottom: 2rem;
  left: 2rem;
  max-width: 13.13rem;
}
.l-tours__description_title {
  font-family: Avenir Next Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: white;
}
.left__popular_item {
  font-family: Avenir Next Regular;
  max-width: 262px;
  position: relative;
  color: white;
}
.popular__item_image .linear-gradiend {
  height: 99%;
}
.popular__item_image,
.left__info_image {
  position: relative;
}
.popular__item_img,
.left__ingo_img {
  width: 100%;
  border-radius: 0.4rem;
}
.popular__item_description,
.popular__item_btn,
.left__info_description {
  position: absolute;
}
.popular__item_btn {
  top: 0;
}
.popular__item_description {
  bottom: 2rem;
  left: 1.33rem;
}
.left__popular_switcher {
  margin-bottom: 1.33rem;
}
.popular__switcher_wrapper {
  margin-right: 2rem;
}
.sw-unactive .popular__switcher_link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #333333;
}
.popular__item_btn {
  top: 1.33rem;
  left: 1.33rem;
}
.popular__description_text,
.info__description_text {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
  opacity: 0.8;
}
.popular__description_title,
.info__description_txt {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  margin-bottom: 1.33rem;
}
.popular__description_price {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
}
.left__info_item {
  font-family: Avenir Next Regular;
  position: relative;
  color: white;
}
.left__info_image .linear-gradiend {
  height: 98%;
}
.left__info_description {
  bottom: 1.6rem;
  left: 1.33rem;
}
.info__description_txt {
  margin-bottom: 0;
}
.content__right {
  max-width: 15.5rem;
  margin-left: 2rem;
}
.content__right_news {
  padding: 1.6rem 1.6rem 1.33rem 1.6rem;
  border: 1px solid #C4C4C4;
  border-radius: 6px;
}
.content__right_title {
  font-family: Avenir Next Bold;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  color: #333333;
  margin-bottom: 2rem;
}
.news__item_lead {
  padding-bottom: 0.67rem;
  border-bottom: 2px solid #C4C4C4;
  margin-bottom: 1.33rem;
}
.hews__item_link {
  font-family: Avenir Next Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}
.right__news_more {
  text-align: center;
}
.content__right_sale {
  margin-top: 3.33rem;
}
.content__right_sale .left__popular_item {
  margin-top: 1.4rem;
}
