/*COMMON*/

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family: @f-reg;
    font-size: 15px;
    box-sizing: border-box;
}
header, section, main, aside, div, nav, ul, li, p, img, h1, h2, h3, h4, h5{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul, li{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
.container{
    width: @main-width;
    margin: 0 auto;
}


/*MODULES AND VARIABLES*/

@import "variables.less";
@import "helpers.less";
@import "modules/main-header.less";
@import "modules/top-header.less";
@import "modules/main-logo.less";
@import "modules/medium-header-contacts.less";
@import "modules/main-menu.less";
@import "modules/header-cabinet.less";
@import "modules/header-slider.less";
@import "modules/main-preferences.less";
@import "modules/main-tours.less";