//main: style.less

/*FONTS*/

@f-reg: Avenir Next Regular;
@f-med: Avenir Next Medium;
@f-bld: Avenir Next Bold;

/*COLORS*/

@main-text-color: #333333;
@popup-bgr: #00407B;
@footer-bgr: #1A2134;
@btn-color: #FB513D;
@small-btn-color: #1168B6;
@small-btn-hover: #158CF5;
@input-borders: #FF1F1F;
@gray-color: #F3F3F3;
@border-color: #e5e5e5;

/*WIDTH AND OVER*/

@main-width: 1110px;
@main-width-tablet: 768px;
@main-width-b-mobile: 730px;
@main-width-smobile: 400px;
@header-contacts-width: 453px;
@header-social-width: 82px;
@header-nav-width: 385px;
@header-sublogo-width: 177px;
@header-address-width: 155px;
@header-navigation-width: 756px;
@header-personal-width: 76px;

@top-header-height: 38px;
@header-bottom-height: 58px;

/*MEDIA*/

@mw1220: ~'(max-width: 1220px)';
@mwtablet: ~'screen and (max-width: 1025px)';
@mwbmobile: ~'(min-width: 400px) and (max-width: 732px)';
@mwmobile: ~'screen and (max-width: 400px)';