//main: ../style.less

.header__slider{
    position: absolute;
    top: 28px;
    z-index: 0;

    @media @mwtablet{
        display: none;
        visibility: hidden;
    }
}
.header__slider_item{
    width: 100%;
    position: relative;
}
.header__slide_link{
    display: block;
    width: 100%;
}
.header__slider_img{
    width: 100%;
    cursor: pointer;
}
.slide-dark{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    position: absolute;
    top: -4px;
    cursor: pointer;
}
.header__slider {
    >.owl-nav{
        position: absolute;
        top: 50%;

        width: 100%;

        >button{
            position: absolute;
            z-index: 1;

            width: 34px;
            height: 34px;

            background: rgba(255, 255, 255, .6) !important;

            border-radius: 50%;

            transition: all .4s linear;

            >span{
                color: @small-btn-color;
            }

            &:hover, &:focus, &:active{
                outline: none;
            }

            &:hover{
                background: rgba(255, 255, 255, .9) !important;
            }

            &.owl-next{
                right: 50px;
            }
            &.owl-prev{
                left: 50px;
            }
        }
    }
}