//main: ../style.less

.about{
    margin-bottom: 6.67rem;

    @media @mwmobile{
        margin-bottom: 3rem;
    }

    &__header{
        margin-bottom: 1.33rem;

        &_title{
            font-family: @f-med;
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 140%;

            @media @mwmobile{
                font-size: 24px;
            }
        }
    }

    &__description{
        max-width: 825px;

        &_text{
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 150%;
        }

        &_more{
            display: block;
            margin-top: 1.33rem;
        
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 150%;
        
            color: @small-btn-color;
        }
    }

}