//main: ../style.less

.left__info_item{
    font-family: @f-reg;
    position: relative;
    color: white;

    border-radius: 6px;

    transition: all .3s ease;

    cursor: pointer;

    &:hover{
        box-shadow:0 10px 25px 0 rgba(0, 0, 0, .3);
    }

    @media @mwtablet{
        width: 48%;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}
.left__info_description{
    bottom: 1.6rem;
    left: 1.33rem;
}
.info__description_txt{
    margin-bottom: 0;
}