//main: ../style.less

.reviews{
    margin-bottom: 6.67rem;
}
.reviews__header{
    margin-bottom: 2.67rem;
}
.reviews__header__title{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;

    color: @main-text-color;
}