//main: ../style.less

.preferences{
    position: relative;
    z-index: 1;
    margin-bottom: 8.67rem;
}
.preferences__item{
    margin-right: 2rem;

    &:last-child{
        margin-right: 0;
    }
}
.preferences__ico_img{
    width: auto;
    height: 73px;
}
.preferences__item_hd{
    font-family: @f-reg;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: @main-text-color;

    margin: 1.33rem 0 0.67rem 0;
}
.preferences__item_p{
    font-family: @f-reg;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
}