//main: ../style.less

.content__left_block{
    margin-bottom: 6.67rem;

    @media @mwtablet{
        margin-bottom: 50px;
    }
}
.content__left{
    width: 52rem;

    @media @mwtablet{ 
        width: 100%;
    }
}
.content__left_tours{
    flex-wrap: wrap;

    @media @mwtablet{
        flex-direction: row;
    }
}
.content__l-tours_item{
    position: relative;
    margin: 0 1.4rem 1.5rem 0;

    transition: box-shadow .4s linear;

    background: transparent;

    border-radius: 6px;

    &:nth-child(even){
        margin-right: 0;
    }

    &:hover{
        box-shadow:0 10px 25px 0 rgba(0, 0, 0, .3);
    }

    cursor: pointer;

    @media @mwtablet{
        width: 49%;
        margin: 0 10px 10px 0;
    }

    @media @mwmobile{
        width: 100%;

        margin: 0;
        margin-bottom: 10px;
    }
}
.content__left_title{
    margin-bottom: 0.9rem;
    
    @media @mwtablet{
        fonst-family: inherit;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 140%;

        margin-bottom: 10px;
    }
}
.content__left_more{
    margin: auto;
    margin-right: 0;

    font-family: @f-med;

    @media @mwtablet{
        display: none;
    }
}
.mobile__left_more{
    margin-bottom: 40px;
}
.content__left_description{
    max-width: 42.3rem;
    margin-bottom: 2.67rem;
}
.left__description_text{
    font-family: @f-reg;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: @main-text-color;
}
.l-tours__item_image{
    border-radius: 6px;
    position: relative;
}
.l-tours__image_img{
    display: block;
    border-radius: 6px;
    width: 100%;
}
.l-tours__item_description{
    position: absolute;
    z-index: 1;
    bottom: 2rem;
    left: 2rem;
    max-width: 13.13rem;
}
.l-tours__description_title{
    font-family: @f-reg;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: white;
}